@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
  padding-inline: 0;
}
a {
  text-decoration: none;
}
img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
}
.left-links,
.right-links {
  display: flex;
  gap: 2rem;
  padding-inline: 2rem;
}
.header a {
  color: grey;
}

/* CONTENT */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.buttons button {
  padding: 0.5rem;
}
.buttons button:hover {
  cursor: pointer;
}

/* Footer */
.footer {
  display: flex;
  /* flex-direction: column; */
  background-color: #eeeeee;
  margin-top: auto;
  justify-content: space-between;
}
.footer a {
  color: rgb(92, 92, 92);
}
